.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
    font-size: 18px;
}

.title {
    margin-bottom: 20px;
}

.dialogsItems {
    margin-right: 10px;
}

.dialog {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
}

.avatar {
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    background: #000;
}

.active {
    font-size: 25px;
    color: gold;
    background: #141414;
}

.dialog:hover {
    cursor: pointer;
    background: #141414;
}

.item {
    min-height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #141414;
}