.post {
	margin: 20px;
}

.post_row {
	display: flex;
	align-items: start;
	padding: 10px 0;
}

.photo img {
	width: 60px;
	border-radius: 10px;
}

.text {
	flex: 1 1 auto;
	padding: 0 10px;
}

.text h4 {
	margin-bottom: 10px;
	font-weight: 400;
	color: gold;
	text-decoration: underline;
}

.text p {
	font-size: 16px;
}

.button {
	display: flex;
	justify-content: end;
}

.button span {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	text-align: center;
	transition: .5s;
}

.like::before,
.dislike::before {
	content: "";
	position: absolute;
	left: 4px;
	border: 6px solid transparent;
}

.like::before {
	border-bottom: 6px solid #fff;
}

.dislike::before {
	top: 6px;
	border-top: 6px solid #fff;
}

.button span:hover {
	cursor: pointer;
}

.button span:hover.like::before,
.button span:hover.dislike::before {
	opacity: .6;
}