.sidebar {
	grid-area: sidebar;
	margin: 60px 0 0 0;
	padding: 20px;
	border: 1px solid #424242;
	border-radius: 10px;
	background: #222222;
}

.link,
.setting_link {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	transition: 0.8s;
}

.active {
	display: block;
	padding: 5px;
	text-decoration: none;
	font-size: 20px;
	transition: 0.8s;
	color: #ffd700ff;
}

.link:hover,
.setting_link:hover {
	color: #ef5c5cff;
}