* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;
	background: #141414;
}

li {
	list-style: none;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.wrapper-component {
	padding: 20px;
}

.grid {
	display: grid;

	max-width: 1400px;
	margin: 0 auto;

	grid-template-areas:
		"head head"
		"sidebar content";

	grid-template-rows: 1fr;
	grid-template-columns: 2fr 10fr;
}

.content {
	grid-area: content;
	border: 1px solid #424242;
	border-radius: 10px;
	margin: 60px 0 0 10px;
	overflow: hidden;
	background: #222222;
}